@import "../variables";

.aboutSection {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;

  h2 {
    font-weight: 500;
    font-size: 40px;
    margin-top: 16px;
    color: $black-russian;
    text-align: center;
    text-transform: uppercase;
  }

  .aboutSectionContainer {
    padding-top: 15px;

    .aboutSectionImg {
      text-align: center;

      img {
        width: 60%;
        padding: 0.25rem;
        border-radius: 0.25rem;
      }
    }

    .aboutSectionDetails {
      h4 {
        text-transform: uppercase;
        margin-top: 24px;
        margin-bottom: 20px;
        font-size: calc(1.275rem + 0.3vw);
        font-weight: 500;

        span {
          color: $pink;
        }
      }

      p {
        color: $gray;
        margin-bottom: 14px;
      }

      .aboutSectionAppBar {
        color: #9a9cb8;
        box-shadow: none;
        background-color: $white;

        div[class^="MuiTabs-flexContainer"] {
          justify-content: center;
        }

        button[class^="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit"] {
          margin-right: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
          min: {
            height: 37px;
            width: 54px;
          }

          span {
            text-transform: capitalize;
            color: black;
          }
        }

        button[class^="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit Mui-selected"] {
          background-color: #fff;
          box-shadow: 0px 0px 10px 0px #040c2b70;

          span {
            color: $black-russian;
          }
        }

        span[class^="PrivateTabIndicator-root-1 PrivateTabIndicator-colorSecondary-3 MuiTabs-indicator"] {
          background-color: transparent !important;
        }
      }
      .AboutSectionSkills {
        display: flex;
        flex-wrap: wrap;
        margin: 25px;
        margin-top: 25px;

        svg {
          margin-right: 5px;
        }

        .AboutSectionSkill {
          display: flex;
          align-items: center;
          box-shadow: 0px 0px 10px 0px #040c2b70;
          color: $black-russian;
          padding: 5px 10px;
          margin: {
            bottom: 10px;
            left: 10px;
          }
        }
      }

      .aboutSectionWorks {
        margin: 25px;
        margin-top: 25px;

        .aboutSectionWork {
          box-shadow: 0px 0px 10px 0px #040c2b70;
          padding: 24px;

          div {
            h4 {
              font-size: 1.3rem;
              font-weight: 500;
              color: black;
              text-transform: none;
            }

            h5 {
              font-size: 15px;
              border-radius: 0.25rem;
              color: $white;
            }
          }
        }
      }
    }
  }

  @media (min-width: $lg) {
    .aboutSectionContainer {
      display: grid;
      grid-template-columns: 1.5fr 2fr;

      .aboutSectionImg {
        img {
          width: 70%;
        }
      }

      .aboutSectionDetails {
        margin-left: 10px;
      }
    }
  }
}
