// @import "../variables";
// @import "../utilites";
@use "@/styles/variables" as *;
@use "@/styles/utilites" as *;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dce1e4;
  margin-top: 100px;
  padding-bottom: 100px;

  h1 {
    @include heading1;
  }

  h2 {
    @include heading2;
  }

  .aboutDetails {
    p {
      margin-bottom: 14px;
    }

    .aboutAppBar {
      color: #9a9cb8;
      box-shadow: none;
      background-color: transparent;
      margin-bottom: 20px;

      div[class^="MuiTabs-flexContainer"] {
        justify-content: center;
      }

      button[class^="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit"] {
        min-height: 37px;
        min-width: 54px;
        margin: 30px 10px 0px 10px;
        border-radius: 3px;

        span {
          text-transform: capitalize;
          color: $primary-color;
          background: transparent;
        }
      }

      button[class^="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit Mui-selected"] {
        @include boxShadow($gradient-bg1, $gradient-bg2);

        span {
          font-weight: 600;
        }
      }
    }

    .aboutChildrenData {
      margin-top: 23px;

      .aboutContent {
        .badge {
          cursor: pointer;
          font-weight: bold;
          @include badge(80%, 2px, #fff);
        }

        .aboutDownloadBtn {
          cursor: pointer;
          color: $white;
          transition: 0.4s;
          font-size: 14px;
          font-weight: 700;
          border-radius: 6px;
          padding: 15px 32px;
          letter-spacing: 1px;
          text-transform: capitalize;
          background: linear-gradient(145deg, $gradient-bg3, $gradient-bg4);

          &:hover {
            transform: translateY(-3px);
          }

          svg {
            margin-left: 5px;
          }
        }
      }

      .aboutSkills {
        display: flex;
        flex-wrap: wrap;

        svg {
          margin-right: 5px;
          width: 17px;
        }

        .aboutSkill {
          display: flex;
          align-items: center;
          color: $primary-color;
          padding: 5px 10px;
          margin: {
            bottom: 10px;
            left: 10px;
          }
          @include boxShadow($gradient-bg1, $gradient-bg2);
        }
      }

      .aboutWork {
        padding: 24px;
        border-radius: 10px;
        @include boxShadow($gradient-bg1, $gradient-bg2);

        .aboutWorkContent {
          h4 {
            font-size: 23px;
            font-weight: 500;
            color: black;
            text-transform: none;
          }

          .badge {
            display: inline-block;
            margin: 7px 0;
            @include badge(75%, 0.25rem, #fff);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $sm) {
  .about {
    .aboutDetails {
      .aboutChildrenData {
        width: 90%;
        margin: 0 auto;

        .aboutWork {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }

  @media only screen and (min-width: $md) {
    .about {
      .aboutDetails {
        .aboutChildrenData {
          width: 70%;

          .aboutWork {
            width: 65%;
          }
        }
      }
    }

    @media only screen and (min-width: $lg) {
      .about {
        .aboutDetails {
          .aboutChildrenData {
            .aboutWork {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
