@import "../variables";
@import "../utilites";

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dce1e4;
  margin-top: 100px;
  padding-bottom: 100px;

  h1 {
    margin: 10px 0;
    color: $black-russian;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
  }

  h2 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(19, 5, 5);
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    letter-spacing: 0.02em;
  }

  .aboutDetails {
    p {
      margin-bottom: 14px;
    }

    .aboutAppBar {
      color: #9a9cb8;
      box-shadow: none;
      background-color: transparent;

      div[class^="MuiTabs-flexContainer"] {
        justify-content: center;
      }

      button[class^="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit"] {
        min-height: 37px;
        min-width: 54px;
        margin: 30px 10px 20px 10px;
        border-radius: 3px;

        span {
          text-transform: capitalize;
          color: $black-russian;
        }
      }

      button[class^="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit Mui-selected"] {
        @include boxShadow($box-shadow-bg1, $box-shadow-bg2);
      }

      span[class^="PrivateTabIndicator-root-1 PrivateTabIndicator-colorSecondary-3 MuiTabs-indicator"] {
        background-color: transparent !important;
      }
    }

    .aboutChildrenData {
      margin-top: 23px;

      .aboutContent {
        .badge {
          cursor: pointer;
          font-weight: bold;
          @include badge(80%, 2px, #fff);
        }

        .aboutBtn {
          padding: 15px 32px;
          text-transform: uppercase;
          transition: all 0.5s;
          cursor: pointer !important;
          font-size: 14px;
          transition: all 0.4s;
          background: $black-russian;
          color: $white;
          transition: 0.4s;

          &:hover {
            transform: translateY(-3px);
          }
        }
      }

      .aboutSkills {
        display: flex;
        flex-wrap: wrap;

        svg {
          margin-right: 5px;
          width: 17px;
        }

        .aboutSkill {
          display: flex;
          align-items: center;
          color: $black-russian;
          padding: 5px 10px;
          margin: {
            bottom: 10px;
            left: 10px;
          }
          @include boxShadow($box-shadow-bg1, $box-shadow-bg2);
        }
      }

      .aboutWork {
        padding: 24px;
        border-radius: 10px;
        @include boxShadow($box-shadow-bg1, $box-shadow-bg2);

        .aboutWorkContent {
          h4 {
            font-size: 23px;
            font-weight: 500;
            color: black;
            text-transform: none;
          }

          .badge {
            display: inline-block;
            margin: 7px 0;
            @include badge(75%, 0.25rem, #fff);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $sm) {
  .about {
    .aboutDetails {
      .aboutChildrenData {
        width: 90%;
        margin: 0 auto;

        .aboutWork {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }

  @media only screen and (min-width: $md) {
    .about {
      .aboutDetails {
        .aboutChildrenData {
          width: 70%;

          .aboutWork {
            width: 65%;
          }
        }
      }
    }

    @media only screen and (min-width: $lg) {
      .about {
        .aboutDetails {
          .aboutChildrenData {
            .aboutWork {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
