@use "@/styles/variables" as *;

#header {
  width: 100%;
  z-index: 500;
  position: fixed;
  transition: all 0.5s ease;
}

.navbar {
  // background-color: #ffffff4d;
  padding: 16px 0;

  a {
    color: $white;

    &:hover::after {
      background: $white;
    }
  }

  .active::after {
    background: $white;
  }
}

.navbar_activeContainer {
  background-color: #ffffffe6;
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 20%);
  padding: 13px 0;

  a {
    color: $primary-color;

    &:hover::after {
      background: $primary-color;
    }
  }
  .active::after {
    background: $primary-color;
  }
}

.navbar_details {
  .logo {
    display: none;

    img {
      display: block;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      list-style-type: none;
      padding: {
        left: 5px;
        right: 5px;
      }

      a {
        position: relative;
        text-transform: uppercase;
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        padding-bottom: 10px;
        font: {
          weight: $font-400;
          size: 13px;
        }
      }

      a:after,
      .active::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        display: block;
        transition: all 0.4s ease;
        bottom: 25%;
      }

      a:hover::after,
      .active::after {
        width: 100%;
      }
    }
  }
}

@media (min-width: $xs) {
  .navbar_details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: block;
    }
  }

  @media (min-width: $lg) {
    .navbar {
      padding: 20px 0;
    }

    .navbar_activeContainer {
      padding: 15px 0;
    }

    .navbar_details {
      .menu {
        li {
          padding: {
            left: 10px;
            right: 10px;
          }
          a {
            text-transform: capitalize;
            font: {
              size: 15px;
            }
          }
        }
      }
    }
  }
}
