// @import "../variables";
// @import "../utilites";
@use "@/styles/variables" as *;
@use "@/styles/utilites" as *;

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;

  h1 {
    @include heading1;
  }

  h2 {
    @include heading2;
  }

  // ===== common ==

  .projectViewAll,
  .previewBtn,
  .sourceBtn {
    color: $primary-color;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    @include boxShadow($gradient-bg1, $gradient-bg2);

    &:hover {
      @include boxShadow($gradient-bg3, $gradient-bg4);
      transform: translateY(-5px);
      color: $white;
    }

    svg {
      font-size: 17px;
    }
  }

  //==common===*/

  .portfolioAllWorks {
    display: grid;
    margin-top: 20px;

    .portfolioWork {
      @include boxShadow($gradient-bg1, $gradient-bg2);
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        width: 100%;
      }

      h3 {
        padding: 15px 0px;
      }

      .portfolioUseTechnology {
        padding: 10px 0px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
      }

      .portfolioBtn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        margin-top: 15px;

        .previewBtn {
          color: $white;
          @include boxShadow($gradient-bg3, $gradient-bg4);

          a {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .projectViewAll {
    margin-top: 40px;
  }
}

@media only screen and (min-width: $xs) {
  .portfolio {
    .portfolioAllWorks {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-row-gap: 20px;
      grid-column-gap: 20px;
    }
  }
}
