@import "../variables";
@import "../utilites";

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;

  h1 {
    margin: 10px 0;
    color: $primary-color;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
  }

  h2 {
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
    -webkit-text-stroke: 1px rgb(19, 5, 5);
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    letter-spacing: 0.02em;
  }

  // ===== common ==

  .projectViewAll,
  .visitBtn,
  .sourceBtn {
    color: $primary-color;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    @include boxShadow($box-shadow-bg1, $box-shadow-bg2);

    &:hover {
      @include boxShadow(#ff014f, #d11414);
      transform: translateY(-5px);
      color: $white;
    }

    svg {
      font-size: 17px;
    }
  }

  //==common===*/

  .portfolioAllWorks {
    display: grid;
    margin-top: 20px;

    .portfolioWork {
      @include boxShadow($box-shadow-bg1, $box-shadow-bg2);
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;

      img {
        width: 100%;
      }

      h3 {
        padding: 15px 0px;
      }

      .portfolioUseTechnology {
        padding: 10px 0px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
      }

      .portfolioBtn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        margin-top: 15px;

        .visitBtn {
          color: $white;
          @include boxShadow(#ff014f, #d11414);
        }
      }
    }
  }

  .projectViewAll {
    margin-top: 40px;
  }
}

@media only screen and (min-width: $xs) {
  .portfolio {
    .portfolioAllWorks {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-row-gap: 20px;
      grid-column-gap: 20px;
    }
  }
}
