@import "./variables";

@mixin right-top-border-radius($color) {
  content: "";
  position: absolute;
  background-color: transparent;
  top: -100px;
  right: 0;
  height: 100px;
  width: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 1px 50px 0 0 $color;
  z-index: 10;
}

@mixin button($width, $height, $bgColor, $shadow, $font-size, $font-weight) {
  width: $width;
  height: $height;
  background-color: $bgColor;
  color: $body-bg;
  box-shadow: 0 0 10px 0 $shadow;
  text-transform: none;
  font-size: $font-size;
  font-weight: $font-weight !important;
  font-family: $poppins;

  &:hover {
    background-color: $bgColor;
  }
}

@mixin font($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin arrow-btn($width, $height, $color, $shadow, $font-size, $line-height) {
  color: $color;
  background-color: $body-bg;
  box-shadow: 0px 0px 10px $shadow;
  border-radius: 50%;
  width: $width;
  height: $height;
  text-align: center;
  line-height: $line-height;

  &:after {
    font-size: $font-size;
  }
}

@mixin input-arrow($rotate, $top, $left, $padding) {
  border: solid $gray;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate($rotate);
  padding: $padding;
  top: $top;
  left: $left;
}
