$xs: "480px";
$sm: "576px";
$md: "768px";
$lg: "960px";
$xl: "1279px";
$xxl: "1400px";

$primary-color: #ff014f;
$white: #ffffff;
$dark-light: #212121;
$black: black;
$gray: #797979;
$pink: #e65f78;
// $primary-color: #040c2c;
$gradient-bg1: #e2e8ec;
$gradient-bg2: #ffffff;
$gradient-bg3: #ff014f;
$gradient-bg4: #d11414;

$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;

$font-poppins: "Poppins", sans-serif;
