$xs: "480px";
$sm: "576px";
$md: "768px";
$lg: "960px";
$xl: "1279px";
$xxl: "1400px";

$white: #ffffff;
$dark-light: #212121;
$black: black;
$gray: #797979;
$pink: #e65f78;
$black-russian: #040c2c;
// $black-russian: #ff014f;

$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
